/*---------inicio header*--------------------------*/
header{
    height: 20%;
    background-image:url("../img/fondo1.jpg");
    position: sticky;
    top:0;
    z-index: 100;
   
}
@font-face {
    font-family: "Oswald-Regular";
    src: url("../fuentes/Oswald-Regular.ttf");
}
h1{
     font-family: "Vast Shadow", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2.5em;;
    text-align: center;
    letter-spacing: 1.3;
}
h2{
    font-family: "Metal Mania", system-ui;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}
h3{
    font-family: "Metal Mania", system-ui;
}

nav ul{
   
    list-style: none;
    text-align: center;
    

}
nav ul li{
     display:inline-block;
     padding:20px;
     justify-content: center;
     
     
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size:1.25em;
     font-family: "Borel", cursive;

    font-style: normal;
}
nav ul li a:hover{
    text-decoration: underline red;
}
/*---------final header*--------------------------*/

/*---------Inicio sobre mi*--------------------------*/

.secciones{
    display:flex;
    width: 80%;
    background-color:#f5f5f5ce;
    justify-content:center;
    align-items: center;
    margin:auto;
    margin-top:30px;
    padding:10px;

}
#fotoyo{
    width: 30%;
    margin:20px;
    border-radius: 18px;
}
.icono {
    display: block;
    font-size:5em;
}
 .lista-iconos li:hover{
    border:2px solid purple;
    padding:20px;
}
.lista-iconos{
    display: inline-block;
    list-style: none;
    margin-bottom:5px;
    
}
.lista-iconos li {
     display: inline-block;
     margin:20px;
     justify-items: center;
}
html{
    box-sizing: border-box;
    height: 100vh;
   
    background-image: url("../img/fondomorado3.jpg");
   
      background-attachment: fixed; /* La imagen se mueve junto con el contenido */
      background-size: cover; /* Cubre toda la caja */    
}
#imagen-fondo{
    background-color: rgba(198, 152, 241, 0.103);
}
#proyectos{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color:#f5f5f5ce;
    justify-content:center;
    align-items: center;
    margin:auto;
    margin-top:30px;
    padding:10px;
}
p{
    background-color: bisque;
    font-family: "Oswald-Regular";
    letter-spacing: 1.5;
}
.proyecto{
    display: flex;
    flex-direction: column;
    margin:auto;
}
.proyecto-contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    border: 2px double black;
    border-radius: 16px;
    
}
.proyecto-img{
    width: 40%;
    z-index:0;
    border-radius:20px;
 
    
}
.contacto-div{
    display:flex;
    margin:20px;
    gap:20px;
    justify-content: space-between;
}
#linkedin-div{

    margin-top:50px;
}
#linkedin-div i{
    font-size:em;
    
}
#linkedin-div img{
    width: 50%;
}
#contacto{
    display: block;
}
#div-contacto{
    display: flex;
    flex-direction: row;
}
